* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.addNote {
  margin-bottom: 10px;
  width: 100%;
  height: 35px;
  display: flex;
  justify-content: space-between;
}

.addNoteInput {
  width: 82%;
}

.addNoteInput:focus {
  background-color: var(--background-modifier-hover) !important;
  color: var(--text-on-accent);
  border-radius: 8px;
  box-shadow: 0 0 5px var(--interactive-accent), inset 0 0 0 2px var(--interactive-accent-hover) !important;
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
}

.addNoteButton {
  width: 15%;
  border-radius: 8px;
}

.ant-tree {
  padding: 4px 8px;
  border: 1px solid var(--background-modifier-border);
  border-radius: 8px;
  background-color: var(--background-primary);
  color: var(--text-normal);
}


.ant-tree .ant-tree-treenode {
  background-color: var(--background-primary);
  display: flex;
  align-items: center;
}

.ant-tree-treenode-selected, .ant-tree-title {
  background-color: var(--background-primary) !important;
}

.ant-tree .ant-tree-node-content-wrapper.ant-tree-node-selected {
  background-color: var(--background-primary) !important;
}

.ant-tree-treenode:hover, .ant-tree-treenode:focus {
  background-color: var(--background-primary) !important;
}

.ant-tree .ant-tree-node-content-wrapper {
  padding: 0;
  padding-inline: 0 !important;
}

.ant-tree-node-content-wrapper:hover {
  color: var(--interactive-accent);
  box-shadow: 0 0 5px var(--interactive-accent-hover);
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
}

.content-editable {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.editable-element,
.editable-input.ant-input {
  width: calc(100% - 232px);
  height: 100%;
  padding: 8px 8px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 14px;
  line-height: normal;
  background-color: var(--background-primary);
  color: var(--text-normal);
  border: none;
  outline: none;
  transition: all 0.2s ease;
}

.editable-input.ant-input:focus {
  box-shadow: 0 0 5px var(--interactive-accent-hover), inset 0 0 0 1px var(--interactive-accent-hover);
}

.ant-tree .ant-tree-treenode-draggable .ant-tree-draggable-icon {
  color: var(--interactive-accent);
  opacity: 0.8;
  transition: color 0.2s ease, opacity 0.2s ease;
}

.ant-tree .ant-tree-treenode-draggable:hover .ant-tree-draggable-icon {
  color: var(--interactive-accent-hover);
  opacity: 1;
  transition: color 0.2s ease, opacity 0.2s ease;
}

.ant-tree-switcher {
  width: 16px !important;
  display: flex;
  justify-content: end;
  align-items: center;
  background-color: transparent !important;
}

.ant-tree-switcher:hover {
  background-color: transparent !important;
}

.ant-tree-switcher-icon {
  background-color: transparent !important;
}

.ant-tree-switcher:hover .ant-tree-switcher-icon,
.ant-tree-switcher:focus .ant-tree-switcher-icon {
  background-color: transparent !important;
}

.ant-tree-switcher::before,
.ant-tree-switcher::after {
  content: none !important;
  background-color: transparent !important;
  border: none !important;
}

.time-link-group {
  width: 230px !important;
  margin-left: 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent !important;
}

.date-picker {
  width: 170px !important;
  padding: 4px 0;
  background-color: transparent !important;
}

.date-picker::placeholder {
  color: aliceblue !important;
}

.ant-picker-input::placeholder {
  color: aliceblue !important;
}

.obsidian-link {
  width: 50px;
  margin: 0 5px 0 5px;
}

.ant-picker-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.ant-picker-header-super-prev-btn, .ant-picker-header-prev-btn, .ant-picker-month-btn, .ant-picker-year-btn, .ant-picker-header-next-btn, .ant-picker-header-super-next-btn, .ant-picker-decade-btn {
  background-color: transparent !important;
  color: #1e1e1e !important;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

.ant-picker-header-super-prev-btn:hover, .ant-picker-header-prev-btn:hover, .ant-picker-month-btn:hover, .ant-picker-year-btn:hover, .ant-picker-header-next-btn:hover, .ant-picker-header-super-next-btn:hover {
  background-color: var(--background-modifier-hover);
  opacity: 1 !important;
  color: var(--color-base-00) !important;
}

th, td, .ant-picker-header-view, .ant-picker-time-panel-cell-inner {
  color: var(--color-base-00) !important;
}



td:hover, .ant-picker-time-panel-cell-inner:hover {
  color: var(--color-accent) !important;
  opacity: 1 !important;
}

.ant-picker-now-btn {
  opacity: 0.8 !important;
  text-decoration: none !important;
  background: none !important;
  border: none !important;
  outline: none !important;
  color: var(--color-accent) !important;
}

.ant-picker-now-btn:hover {
  color: var(--color-accent) !important;
  opacity: 1 !important;
}

.ant-picker .ant-picker-suffix {
  color: var(--text-normal);
  transition: color 0.3s ease;
}

.ant-picker:hover .ant-picker-suffix {
  color: var(--interactive-accent-hover);
}

/* Обычный стиль placeholder */
.ant-picker input::placeholder {
  color: var(--text-muted); /* Цвет placeholder */
  transition: color 0.3s ease;
}

/* Изменение цвета placeholder при наведении на DatePicker */
.ant-picker:hover input::placeholder {
  color: var(--interactive-accent-hover); /* Цвет placeholder при наведении */
}
